/* ----------------------------------------------

universal page styling

------------------------------------------------*/



.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Roboto';
}

.headerTitle {
  margin: 0;
}

.logoutIconButton {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.logoutIconButton:hover {
  background-color: #e0e0e0;
}


.footerCon
{
  font-family: 'Roboto';
  color: grey;
  text-align: center;
}


/* ----------------------------------------------

Create Acc page styling

------------------------------------------------*/


.create-acc-page {
  background-color: #efeed8;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-acc-heading {
  margin-bottom: 1rem;
  text-align: center;
}

.create-acc-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}



/* ----------------------------------------------

Homeowners dashboard page styling

------------------------------------------------*/

.homeowner-dashboard {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #efeed8;
}

.dashboard-heading {
  margin-bottom: 1rem;
}

.cleaner-search-form {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.cleaner-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cleaner-card-actions {
  justify-content: space-between;
  padding: 0 1rem 1rem;
}



.cleanerListingCon
{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.cleanerListingBox
{
  padding: 5px;
  border: 1px solid darkslategrey;
}








/* ----------------------------------------------

Admin dashboard page styling

------------------------------------------------*/

.admin-dashboard {
  background-color: #efeed8;
  min-height: 100vh;
  padding: 2rem;
}

.admin-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.admin-menu {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-add-button
{
  margin: 1rem;
}

.admin-table-container {
  padding: 1rem;
}

.admin-table-heading {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
