/* ----------------------------------------------

universal page styling

------------------------------------------------*/

.headerBar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ----------------------------------------------

Create Acc page styling

------------------------------------------------*/


.createAccForm
{
  display: flex;
  flex-direction: column;
}


/* ----------------------------------------------

Homeowners dashboard page styling

------------------------------------------------*/


.cleanerListingCon
{
  display: flex;
  justify-content: space-around;
}

.cleanerListingBox
{
  padding: 5px;
  border: 1px solid darkslategrey;
}